#ignore patterns
*_bak
*.pyc
*.pyd
*.pyo
*.lnk

#is emberrasing... OwO'
todo.txt

#Don't need all of these on github
logs

#not clean enough for the public eye, this will be put up on the wiki section as i clean it up.
documentation

#muh server
VPS