#ignore patterns
*_bak
*.pyc
*.pyd
*.pyo
*.lnk

#Don't need all of these on github
logs

#not yet ready, this wil be put up on the wiki section later
documentation

#temp file
flipnote details.htm